/* app/static/style.css */

/* Основной layout */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#main {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Контейнеры */
#container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#left-panel {
  width: 250px;
  min-width: 50px;
  background-color: #1e1e1e;
  color: #fff;
  overflow: auto;
  padding: 0.5rem;
}

.splitter.vertical {
  width: 5px;
  cursor: col-resize;
  background-color: #444;
  z-index: 10;
}

#right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#top-right {
  min-height: 0;
  height: 50%;
  background-color: #252526;
  border: 1px solid red; /* временно для отладки */
  color: #fff;
  overflow: auto;
}

.splitter.horizontal {
  height: 2px;
  cursor: row-resize;
  background-color: transparent;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.splitter.horizontal::before {
  content: "";
  width: 60px;
  height: 30px;
  background-color: #ff9800;
  border-radius: 3px;
  z-index: 11;
}

.splitter.horizontal:hover::before {
  background-color: #ffc107;
}

#toggle-all-btn {
  min-height: 50px;
  height: 5%;
  background-color: #2f55c0;
  color: #fff;
  overflow: auto;
  padding: 0.5rem;
}

#bottom-right {
  flex: 1;
  min-height: 0;
  height: 50%;
  background-color: #1e1e1e;
  border: 1px solid blue; /* временно для отладки */
  color: #fff;
  overflow: auto;
}

/* Дерево слева */
ul {
  list-style: none;
  padding-left: 20px;
  margin: 0;
}

.node {
  display: flex;
  align-items: center;
  user-select: none;
}

/* Наведение на узел дерева */
.node:hover {
  background-color: #3b3b3b; /* Темно-серый оттенок при наведении */
  color: white; /* Белый текст при наведении */
}

/* Наведение на стрелку раскрытия узла */
.arrow:hover {
  color: #ffc107; /* Желтая стрелочка при наведении */
}

/* Наведение на label узла */
.label:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
}

.arrow {
  cursor: pointer;
  width: 1em;
  margin-right: 6px;
  transition: transform 0.2s ease;
}

.arrow.expanded {
  transform: rotate(90deg);
}

.label {
  cursor: default;
}

.collapsible {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.25s ease;
}

.collapsible.expanded {
  max-height: 2000px;
}

/* Красивая таблица справа сверху */
.agents-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

.agents-table th {
  background-color: #f2f2f2;
  color: #333;
  padding: 10px 15px;
  text-align: left;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}

.agents-table td {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
}

.agents-table tbody tr:nth-child(even) {
  background-color: #241a1a;
}

/* Hover только для неактивных строк */
.agents-table tbody tr:hover:not(.is-active) {
  background-color: #583f3f;
  color: #fff;
}

.agents-table thead {
  background-color: #3498db;
  color: white;
}

.agents-table thead th {
  padding: 12px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* Адаптация под мобильные устройства */
@media screen and (max-width: 600px) {
  .agents-table {
    font-size: 14px;
  }

  .agents-table th,
  .agents-table td {
    padding: 8px 12px;
  }
}

/* Загрузочный индикатор */
#loading-indicator {
  font-size: 16px;
  text-align: center;
  color: gray;
  opacity: 0.8;
  display: none;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-top-color: black;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

/* front woff2 */
@font-face {
  font-family: "FontIcons";
  src: url("/static/fonts/662fefa8.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.icon-class {
  font-family: "FontIcons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}

.icon-apple::before {
  color: #0d62c4;
  content: "\0F0035 ";
}

.icon-linux::before {
  color: #0d62c4;
  content: "\0F033D ";
}

.icon-windows::before {
  color: #0d62c4;
  content: "\0F05B3 ";
}

/* Адаптивные размеры иконок */
@media (max-width: 768px) {
  .icon-class {
    font-size: 22px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .icon-class {
    font-size: 25px;
  }
}

@media (min-width: 1025px) {
  .icon-class {
    font-size: 30px;
  }
}

/* Активный элемент дерева */
.label.is-active {
  background-color: #2f55c0;
  color: #fff;
  border-radius: 4px;
  padding: 2px 6px;
}

/* Активная строка таблицы */
.agents-table tr.is-active {
  background-color: #03174e !important;
  color: #fff;
}
