<!-- app/templates/partials/left_menu.html -->
<h2>Company Tree</h2>

<button id="toggle-all-btn" onclick="toggleAll()">Развернуть всё</button>
<br />
<br />

{% macro render_node(node) %}
<li>
  {% if node.children %}
  <div class="node">
    <span class="arrow" onclick="toggleNode('{{ node.name_id }}', this)"
      >▶</span
    >
    <a
      class="label"
      hx-get="/ui/top-panel?target_type={{ node.type | trim }}&target_id={{ node.id | trim }}"
      hx-target="#top-right"
      hx-swap="innerHTML"
      hx-push-url="/agents?target_type={{ node.type | trim }}&target_id={{ node.id | trim }}"
      hx-indicator="#loading-indicator"
    >
      {% if node.type == "company" %} 🏛{{ node.name }} {% else %} 📎{{
      node.name }} {% endif %}
    </a>
  </div>

  <ul class="collapsible" data-id="{{ node.name_id }}">
    {% for child in node.children %} {{ render_node(child) }} {% endfor %}
  </ul>
  {% else %}
  <div class="node">
    <span style="width: 1em"></span>
    <span class="label">
      {% if node.type == "agent" %} 👤 {{ node.name }} {% else %} 📎{{ node.name
      }} {% endif %}
    </span>
  </div>
  {% endif %}
</li>
{% endmacro %}

<ul id="tree-root">
  {% for company in companies %} {{ render_node(company) }} {% endfor %}
</ul>
