<!-- app/templates/partials/top_panel.html -->
{% if agents %}
<table class="agents-table">
  <thead>
    <tr>
      {% for col in agent_columns %}
      <th>{{ col }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for agent in agents %}
    <tr
      data-agent-id="{{ agent.id }}"
      hx-get="/ui/bottom-panel?agent_id={{ agent.id }}"
      hx-target="#bottom-right"
      hx-swap="innerHTML"
    >
      <!-- OS -->
      <td>
        {% if agent.system and "linux" in agent.system.lower() %}
        <span class="icon-class icon-linux"></span> {% elif agent.system and
        "mac" in agent.system.lower() %}
        <span class="icon-class icon-apple"></span> {% elif agent.system and
        "windows" in agent.system.lower() %}
        <span class="icon-class icon-windows"></span> {% else %}
        <span>-</span> {% endif %}
      </td>

      <td>{{ agent.name_pc }}</td>
      <td>{{ agent.user_name or "-" }}</td>
      <td>{{ agent.ip_addr or "-" }}</td>
      <td>{{ agent.company_name }}</td>
      <td>{{ agent.department_name or "Без отдела" }}</td>
      <!-- ONLINE -->
      <td>
        {% if agent.is_online %}
        <span style="color: #22c55e">●</span>
        {% else %}
        <span style="color: #ef4444">●</span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="empty-panel">Выберите Company / Department / Unassigned слева</div>
{% endif %}
