<!-- app/templates/base.html -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}UI{% endblock %}</title>

    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="/static/splitter.js"></script>

    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="/static/tree.js"></script>
    <script src="/static/agents_table.js" defer></script>
    <script src="/static/reset_splitter.js" defer></script>
    <script src="/static/agents_status.js" defer></script>
  </body>
</html>
