<!-- app/templates/index.html -->
{% extends "base.html" %} {% block body %}
<div id="container">
  <div
    id="left-panel"
    hx-get="/ui/left-menu"
    hx-trigger="load"
    hx-target="this"
  ></div>

  <div id="vertical-splitter" class="splitter vertical"></div>

  <div id="right-container">
    <div
      id="top-right"
      hx-get="/ui/top-panel{% if request.url.query %}?{{ request.url.query }}{% endif %}"
      hx-trigger="load"
      hx-trigger="every 10s"
      hx-target="this"
    ></div>

    <div id="horizontal-splitter" class="splitter horizontal"></div>

    <div
      id="bottom-right"
      hx-get="/ui/bottom-panel{% if request.url.query %}?{{ request.url.query }}{% endif %}"
      hx-trigger="load"
      hx-target="this"
    >
      Нижняя панель (пока пусто)
    </div>
  </div>

  <div id="loading-indicator" style="display: none">
    <span class="loading-spinner"></span>
  </div>
</div>
{% endblock %}
